html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Manjari', sans-serif;
}

body {
    height: 100%;
    max-width: 100%;
    background:#F2F2F2 ;
}

.navbar {
    width: 100%;
   height: 4.3em;
   background: #d0cdc4a1;
   list-style: none;
   z-index: 10;
   position: fixed;
}

.nav_comp {
    width: 60%;
    height: 4.3em;
    float: right;
    margin: 0 3em 0 0;
}

.navbar li { 
    display: inline-block;
    margin: 1em .2em 1em 0;
    width: 5em;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-variant: small-caps;
}

.navbar a:hover {
    color: #BF9765;
    text-shadow: .1em .1em .6em #666151 ;
}

.burger{
    margin-left: 3em;
    display: none;
    float: right;
    margin: 1.7em 2em;
    cursor: pointer;
}

.burger div {
    width: 1.2em;
    height: .1em;
    background:#000000;
    margin: .2em;
    display: block;
}

#main_header {
    position: relative;
    z-index: -100;
    top: -4.3em;
    left: 0;
    right: 0;
    width: 100%;
    height: 53.8em;
    background: #000000 url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sc1 {
    position: relative;
    top: -4.3em;
    width: 100%;
    height: 45.1em;
    margin: 0;
    z-index: -100;
    background-color: #F2F2F2;
}

#sc2 {
    position: relative;
    top: -4.3em;
    width: 100%;
    height: 48.1em;
    margin: 0;
    z-index: -100;
    background:  #000000 url(../img/img1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#sc3 {
    position: relative;
    top: -7.1em;
    width: 100%;
    height: 45.1em;
    margin: 0;
    z-index: -100;
    background: #F2F2F2 url(../img/img3.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#pre_footer {
    position: relative;
    top: -6.8em;
    width: 100%;
    height: 37.5em;
    background: #F2F2F2;
}

#main_header h1 {
    font-family: 'Fjalla One', sans-serif;
    z-index: 3;
    font-weight: 700;
    font-size: 6em;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    top: 3.5em;
    color: #D0CDC4;
    letter-spacing: .1em;
}

#main_header h2 {
    z-index: 3;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 3em;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    top: 7em;
    color: #BF9765;
    letter-spacing: .45em;
}

.about {
    max-width: 60%;
    height: 47.1em;
    margin: 0 auto;
    text-align: center;
}

.about img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: 3.5em; 
    margin-top: 3em;
}

.about h3 {
    font-variant: small-caps;
    margin-top: 2.5em;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.about p {
    text-align: justify;
    font-size: 1.2em;
}

 #sc2 table { 
    width: 50%;
    margin: 0 auto;
    color:#F2F2F2;
    z-index: 3;
    background: #000000;
    border-radius: .5em;
    border-collapse: collapse;
}

#scTable tr,td {
    padding: .8em;
    border-bottom: 1px solid #BF9765;
}

.table_head {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    padding-bottom: .5em;
    color: #D0CDC4;
    font-weight: 700;
    font-variant: small-caps;
}

#scTable {
    position: relative;
    top: 6em;
    width: 55%;
}

 .center {
    text-align: center;
 }
 
 #sc2 p {
    color: #BF9765;
    font-size: 2em;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    left: 5.2em;
    top: 4em;
    width: 50%;
 }

.placesClass {
    width: 50%;
    position: relative;
    left: 42em ;
    top: 7em;
    overflow: hidden;
}

.placesClass h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5em;
    font-variant: small-caps;
    margin: .8em 0;
}

.placesClass p {
    font-size: 1.2em;
    text-align: justify;
}

#ul_header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    margin: 0 2em;
    font-variant: small-caps;
}

.table_places {
    width: 40%;
    margin: 0 12em;
}

.table_places li {
    list-style-type: none;
    font-size: 1.3em;
}

.table_places li::before {
    content: "_";
}

.components {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_artc {
    width: 25em;
    height: 30em;
    margin: 6.5em 0 0 4em;
    box-shadow: .4em .4em 1.5em #ccc;
    padding: 0 0.5em;
    border-radius: 1em;
    overflow: hidden;
}

#first_artc {
    margin-left: 0;
}

.aside_artc h3 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    font-variant: small-caps;
    margin-bottom: 1em;
}

.aside_artc p{
    text-align: justify;
}

#footer {
    width: 100%;
    height: 20em;
    background: #D0CDC4;
    text-align: center;
}

#footer ul {
    padding-top: 2em;
}

.icons {
    display: inline-block;
    margin: 2em 2em 0 0;
}

.icons:last-child {
    margin-right: 0;
}

.final_footer {
    width: 100%;
    height: 2.5em;
    margin-top: 11.1em;
    background: #444;
    text-align: center;
    padding-top: .05em;
}

.final_footer p { 
    font-size: .8em;
    letter-spacing: .2em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@media screen and (max-width: 1370px) {
    .nav_comp {
        width: 70%;
    }
    .placesClass{
        left: 35em;
    } 
    .table_places {
        width: 50%;
    }
    .aside_artc{
        height: 34em;
        max-width: 22em;
    }
}

@media screen and (max-width: 1175px){
    .nav_comp {
        width: 80%;
    }
    #scTable {
        width: 70%;
    }
    .placesClass{
        left: 30em;
    }
    #pre_footer{ 
        height: 110em;
    }
    .components {
        flex-direction: column;
    }
    .aside_artc {
        margin: 2em 0;
        min-width: 55%;
    }
    .aside_artc p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1030px){
    .nav_comp {
        width: 90%;
    }
    #scTable {
        max-width: 50em;
    }
    .placesClass{
        left: 27em;
    }
    .table_places {
        width: 60%;
    }
    .aside_artc{
        width: 60%;
    }
}

@media screen and (max-width: 916px) {
    body {
        overflow-x: hidden;
    }
    .nav_comp {
        position: absolute;
        right: 0;
        height: 28em;
        top: 4.3em;
        background:#d0cdc4e3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_comp li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    #scTable {
        min-width: 80%;
    }
    .placesClass{
        left: 25em;
    }
    .about {
        max-width: 80%;
    }
    .aside_artc{
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .placesClass{
        left: 22em;
        top: 4em;
    }
    .table_places {
        width: 60%;
    }
    #ul_header {
        margin: 0;
    }
    #pre_footer {
        top: -8em;
    }
    #sc3 {
        background: #F2F2F2;
    }
    .placesClass {
        left: 9em;
        min-width: 70%;
    }
}

@media screen and (max-width: 730px) {
    #main_header h1 {
        font-size: 4em;
        top: 5.5em;
    }
    #main_header h2 {
        font-size: 2em;
        top: 11em;
    }
    .about {
        max-width: 80%;
    }
    .about img {
        margin-top: .2em ;
    }
    #scTable {
        min-width: 100%;
    }
    #sc2 p {
        left: 5em;
    }
    .placesClass {
        left: 7em;
        min-width: 70%;
    }
    .placesClass p {
        font-size: 1em;
    }
    .aside_artc{
        width: 70%;
    }
    .aside_artc p {
        font-size: 1em;
    } 
}

@media screen and (max-width: 641px) {
    .about {
        max-width: 90%;
    }
    .about p {
        font-size: 1em;
    }
    #scTable {
        width: 40em;
    }
    #scTable table{
       margin-right: 15em;
    }
    #sc2 p {
        left: 1.5em;
        top: 4em;
    }
    .placesClass {
        left: 5.5em;
        min-width: 70%;
    }
    .aside_artc{
        width: 80%;
    }
    .table_places{
        width: 80%;
        margin: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 3px);
    transition: transform 0.2s ease-in;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-3px);
    transition: transform 0.2s ease-in;
}






 
 









